/target
.DS_Store
.idea
profile.json
data/
benchmark/stackoverflow/downloads/
benchmark/stackoverflow/raw/
benchmark/stackoverflow/data/math/
benchmark/stackoverflow/data/dba/
benchmark/stackoverflow/schema/
.direnv
.claude
.jj
profile.json.gz
*.svg
perf.data*
.zed
.vscode
probex*.parquet
.codex

